/* ChangePasswordModal.css */
.modal {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    margin: 100px auto;
    color: white;
    position: relative;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.modalSpace input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
    border: none;
}
.submit-btn {
    width: 100%;
    padding: 8px;
    background-color: orange;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
